process{
    executor = 'slurm'

    withLabel: short_job_1_core {
        clusterOptions = '-A sens2019512 -t 15:00 --qos=short'
    }

    withLabel: short_job_16_core {
        clusterOptions = '-A sens2019512 -n 16 -t 15:00 --qos=short'
    }


    withLabel: std_job_1_core {
        clusterOptions = '-A sens2019512 -t 1:00:00'
    }

    withLabel: long_job_1_core {
        clusterOptions = '-A sens2019512 -t 4:00:00'

    }

    withLabel: long_job_16_core {
        clusterOptions = '-A sens2019512 -t 4:00:00 -n 16'

    }
    
    withLabel: python3 {
        module = 'python3/3.9.5'
    }

    withLabel: plink {
        module = 'bioinfo-tools:plink'
    }

    withLabel: plink_and_python{
        module = 'bioinfo-tools:plink:python3/3.9.5'
    }

    withLabel: R_4_1_1{
        module = 'R_packages/4.1.1'
    }    
    
    withLabel: gcta{
        module = 'gcta'
    }



}
