
//TODO: General leftovers, check use
params.gwas_partition = "node"
params.minspace=1  //Old default 1 000 000 000
params.account = "sens2019512"


//-----------------
//General assoc
//-----------------

//The base folder where output from the pipeline is generated
params.base_runfolder = "/proj/sens2019512/nobackup/users/perl/gwas_test/testruns"

//Identifier for the pipeline run, a directory with this name will be generated in the params.base_runfolder, better given on commandline
//params.id

//params.phenofile  
//params.phenoname 

//params.chr = "1-22"
params.chr = "19,20"

//params.genoid = "scapis_test_chr1_dedup"
//params.genofolder = "/proj/sens2019512/nobackup/users/perl/gwas_test/GENOTYPES/PGEN"

//params.phenofolder = "/proj/sens2019512/nobackup/users/perl/gwas_test/PHENOTYPES"
//params.covarpath = "/proj/sens2019512/nobackup/users/perl/gwas_test/PHENOTYPES"
//params.covarfile = "phenotypes_for_plink_211015.txt"

params.assoc = "regenie" //Select regenie or plink2 for association testing
//params.assoc = "plink2" //Select regenie or plink2 for association testing
params.script_dir = "/home/per/source/GWAS_scripts/GWAS_SCRIPTS"

params.covarnames = "AgeAtVisitOne"
params.mac = "30"


//-----------------
//plink2 settings
//-----------------
params.maf = "0.00"
params.vif = "10"
params.hwe = "1.0e-6"
params.mr2 = "0.8 2.0" //TODO: split this setting up and use lower for regenie as well, no so nice w space sep param?
params.geno = "0.1"
params.mind = "0.1"
params.plink2_version="plink2/2.00-alpha-2.3-20200124"

//-----------------
//regenie settings
//-----------------
params.bsize1 = '1000'
params.bsize2 = '400'
//params.step1_extract = "markerlist_for_inclusion.list" // List of markers from the full dataset to retain for step1 whole genome regression
params.trait_type = 'qt'   //qt / bt    //TODO: Could add automatic detection since running every phenotype separately, perhaps not worth the risk
//params.trait_type = 'bt'   //qt / bt
params.info = 0.7 //Info score cutoff for imputed data, use params.mr2 above for plink2
params.covarnames_cat = "" // Need to add categorical covars separately
params.regenie_step1_geno = "regenie_step1/scapis_regenie_step1_all" //Base name of whole genome genotype set to be used for regenie step 1

//-----------------
//cojo settings
//-----------------
params.cojo_ref_bed_genoid = "BED/test_data_pipeline_sorted"
params.cojo_pval = '5e-8'
params.cojo_window = '10000'
params.cojo_colline = '0.9'
params.cojo_maf = '' //Need this? Should be set at higher level in the script not specific to the cojo analysis?
params.run_cojo = true

//-----------------
//report settings
//-----------------
params.review_minutes = "90"
